$transition-speed: 4s;
$header-height: 127px;

.slider__animals {
	position: absolute;
	top: $header-height;
	display: flex;
	width: 100%;
	height: calc(100vh - $header-height);
	justify-content: center;
	align-items: flex-end;
	
	.animal-slide {
		position: absolute;
		height: 0;
		left: 100%;
		display: none;
		filter: grayscale(1);

		&.transition {
			transition: all $transition-speed ease-in-out;
		}

		img {
			max-height: 100%;
		}

		&.left-2, &.left, &.center, &.right, &.right-2 {
			display: block;
			transform: translateX(-50%);
		}

		
		&.left-2, &.right-2 {
			height: 60%;
		}
		
		&.left, &.right {
			height: calc(min(70%, 50vw));
		}

		&.left-2 {
			left: 0;
			transform: translateX(-100%);
			z-index: 0;
		}

		&.left {
			transition: all $transition-speed ease-in-out;
			left: 15%;
			z-index: 1;
		}

		&.center {
			transition: all $transition-speed ease-in-out;
			left: 50%;
			height: calc(min(100%, 80vw));
			z-index: 2;
			filter: grayscale(0);
			opacity: 1;
		}

		&.right {
			left: 85%;
			z-index: 1;
			transition: all $transition-speed ease-out;
		}
		
		&.right-2 {
			left: 100%;
			transform: translateX(0);
			z-index: 0;
		}
	}
}
