$transition-speed: 4s;

.slider__animals {
	position: absolute;
	top: 10vh;
	display: flex;
	width: 100%;
	height: 90vh;
	min-height: 600px;
	justify-content: center;
	align-items: flex-end;
	
	.animal-slide {
		position: absolute;
		height: 30%;
		left: 100%;
		display: none;

		&.transition {
			transition: all $transition-speed ease-in-out;
		}

		img {
			max-height: 100%;
		}

		&.left-2, &.left, &.center, &.right, &.right-2 {
			display: block;
			transform: translateX(-50%);
		}

		&.left-2 {
			left: 0;
			transform: translateX(-100%);
			height: 40%;
			z-index: 0;
		}

		&.left {
			left: 15%;
			height: 50%;
			z-index: 1;
		}

		&.center {
			left: 50%;
			height: 80%;
			z-index: 2;
		}

		&.right {
			left: 85%;
			height: 50%;
			z-index: 1;
		}
		
		&.right-2 {
			left: 100%;
			height: 40%;
			transform: translateX(0);
			z-index: 0;
		}
	}
}